.MainArea{
    display: flex;
    justify-content: space-between;   
    background-color: rgb(230, 230, 230);
    }

.Sidebar{
    display: grid;
    width: 17%;
    height: 1rem;
    background-color: tomato;
    
}

.Sidebar>div{
    height: auto;
    background-image: url('https://cdn.pixabay.com/photo/2020/08/31/18/14/abstract-5533222_1280.jpg');
    color: cornsilk;
}

.Sidebar2{
    display: flex;
    width: 40%;
    height: 1rem;
    background-color: rgb(255, 238, 7);
}

.Sidebar2>div{
    height: auto;
}
.extra_option
{
    color: grey;
}

.Home{
    border-bottom: 1px black solid;

}
.Quick_Icon{
    display: flex;
    align-items: center;
    font-size: 1.7rem;
    padding: 10px;

}

.Quick_Icon>div{
    padding: 0 12px;
}


.Main{
    display: grid;
    width: 83%;
    align-items: center;
    
}
.Main> div{
    margin: 8px 2px;
}
.Videos{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: white;
}
.Videos1{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: white;
}
.Video{
    justify-content: space-around;
    height: 274px;
    left: 0;
    width: 250px;
    margin: 8px;
    padding: 6.1px;
    
}

.video{
    
    height: 100px;
    left: 0;
    width: 150px;
    margin: 8px;
    padding: 5px;
    
}
.Logo
{
    display: flex;
}
.Logo > div{
    padding: 0 12px;
}
.View{
    font-size: 1.5rem;
    color: rgb(22,19,19);
}
.Videoss{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border-bottom: .1px black solid;
}


.icon{
    display: flex;
    align-items: center;
    margin-left: 12px;
    padding-left: 12px;
    }
.Icon{
    display: flex;
    align-items: center;
    margin: 12px;
    }

.Icon>div{
    padding: 0 12px;
}
.Icon>div>img{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    
}

.logout{
    margin-top: 4.3cm;    
}
.alignleft{
    float:left;
    margin-left: 0;

}

div#Description{
    font-style: italic;
    font: 1.6rem helvetica;
    
    color: rgb(255, 255, 255);
    background-image: url('https://cdn.pixabay.com/photo/2011/12/14/12/21/orion-nebula-11107_1280.jpg');
   
}
div#Description1{
    font-style: italic;
    font: 1.6rem helvetica;
    
    color: rgb(255, 255, 255);
    background-image: url('https://cdn.pixabay.com/photo/2012/11/28/10/16/stars-67616_1280.jpg');
   
}
div#Description2{
    font-style: italic;
    font: 1.6rem helvetica;
    
    color: rgb(255, 255, 255);
    background-image: url('https://cdn.pixabay.com/photo/2020/07/27/14/34/forest-5442598_1280.jpg');
   
}

div#Description3{
    font-style: italic;
    font: 1.6rem helvetica;
    
    color: rgb(255, 255, 255);
    background-image: url('https://cdn.pixabay.com/photo/2015/03/11/02/13/shiny-668054_1280.jpg');
   
}
